.search-form {
  overflow: hidden;
}

.search_form__button {
  float: right;
  height: 32px;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: white;
  z-index: 500;
}

.search-form__button {
  float: right;
  height: 32px;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: white;
  z-index: 500;
}

.botton__showlastrow {
  position: relative;
  margin-top: -32px;
}

.botton__shownextrow {
  margin-top: 8px;
}

.item-row {
  margin-bottom: 16px;
}

.item-row:last-child {
  margin-bottom: 0;
}

.item-row .t-col {
  padding: 0;
}

.t-form-inline .t-form__item {
  min-width: 120px;
  width: 100%;
}

.t-date-picker,
.t-date-range-picker {
  width: 100%;
}
