.flx {
  display: flex;
}

.flx1 {
  flex: 1;
}

.flxc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flxsc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flxscb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flxcc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full {
  width: 100%;
  height: 100%;
}

.section-title {
  font-size: 18px;
  border-left: 3px solid var(--td-brand-color);
  padding-left: 15px;
  margin: 20px 0;
}

.t-table thead td,
.t-table th {
  font-weight: 700;
  color: rgb(69 69 69);
  background: rgb(240 240 242);
}

.t-table--striped:not(.t-table--bordered) th,
.t-table--striped:not(.t-table--bordered) td {
  border-bottom: rgb(213 216 219) solid 1px;
}

.t-table table {
  border-spacing: 0;
  border-radius: 2px;
  // border-top: #d5d8db solid 1px;
  // border-left: #d5d8db solid 1px;
  // border-right: #d5d8db solid 1px;
}

.t-table__empty {
  background: white;
}

// .t-form-inline .t-form__item {
//   // background: #f0f0f2;
//   border-radius: 4px;
// }

// .t-table__cell--title .t-table__filter-icon-wrap {
//   display: none;
// }

// .t-table__cell--title:hover .t-table__filter-icon-wrap,
// .t-table__cell--title:active .t-table__filter-icon-wrap {
//   display: flex;
// }

.t-tabs__nav-item.t-size-m {
  height: var(--td-comp-size-m);
  line-height: var(--td-comp-size-m);
}

.t-default-menu .t-menu__item {
  height: var(--td-comp-size-m);
  line-height: var(--td-comp-size-m);
}

.scm-footer-layout {
  margin-bottom: var(--td-comp-margin-m);
}

.t-breadcrumb {
  color: var(--td-text-color-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px 0;
  list-style: none;
  font: var(--td-font-body-medium);
  display: flex;
  align-items: center;
  margin-bottom: -8px;
  position: relative;
  z-index: 2;
}

.main-page {
  background: var(--td-bg-color-page);
  margin: 16px;
  border-radius: 8px;
  // padding: 8px 24px;
  min-height: calc(100vh - 32px);
}

.main-page-content {
  background: white;
  padding: 8px 24px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.t-button--variant-base {
  padding-left: calc(var(--td-comp-paddingLR-l) - 1px);
  padding-right: calc(var(--td-comp-paddingLR-l) - 1px);
  min-width: 64px;
}

.t-table--striped.t-table--hoverable > .t-table__content > table > tbody tr {
  background-color: var(--td-bg-color-secondarycontainer);
}

.t-table--striped:not(.t-table--header-fixed)
  > .t-table__content
  > table
  > tbody
  > tr:nth-of-type(odd):not(.t-table__expanded-row) {
  background-color: white;
}

.t-tabs__btn.t-size-m {
  height: var(--td-comp-size-m);
  line-height: var(--td-comp-size-m);
}

.t-menu__logo > * {
  margin-left: var(--td-comp-margin-m);
}

.t-default-menu__inner .t-menu__logo:not(:empty) {
  background: var(--td-brand-color);
  fill: white;
}

.t-menu__logo .t-button__text {
  color: white;
}

.permission-dialog .t-dialog__header--fullscreen {
  background-color: #fff !important;
  min-height: 0 !important;
  border-bottom: 0 solid #eee;
  padding: 0 32px;
}

.permission-dialog .t-dialog__close--fullscreen {
  position: relative;
  top: 15px !important;
  z-index: 9999 !important;
}

.permission-dialog .t-dialog__body--fullscreen--without-footer {
  padding: 0 var(--td-comp-paddingLR-xxl);
  height: inherit;
}

.permission-dialog .t-tab-panel {
  padding: 16px;
}

.t-dialog--default {
  padding: 0;
  border-radius: 6px;
  box-shadow: var(--td-shadow-1);
}

.t-dialog__header {
  padding: 16px;
  background: rgb(250 250 250);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid rgb(232 232 232);
}

.t-dialog__body {
  padding: 16px;
  min-height: 200px;
}

.t-dialog__body__icon,
.t-dialog__body--icon {
  padding: 24px 16px;
  min-height: 200px;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.t-dialog__footer {
  padding: 16px;
  background: rgb(250 250 250);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid rgb(232 232 232);
}

.t-dialog__header--fullscreen {
  padding: 0 var(--td-comp-paddingLR-xxl);
}

.permission-dialog .t-default-menu__inner .t-menu--scroll {
  max-height: 80vh;
}

a .t-tag:hover {
  color: var(--td-brand-color);
  background-color: #7fa5ff99;
}

.t-tag--primary.t-tag--light {
  background-color: #d9e1ff38;
}

.t-table {
  border: 1px solid #d5d8db;
}

.t-card__header {
  font-weight: bold;
  color: var(--td-gray-color-8);
  font-size: 16px;
  padding: 8px 0;
  margin: 0 var(--td-comp-paddingLR-xl);
}

.son-table {
  thead td,
  th {
    background: #ebeefd;
  }
}

.padding-bottom-line-16 {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--td-component-stroke);
}

.padding-bottom-line-8 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--td-component-stroke);
}

.padding-bottom-line-0 {
  padding-bottom: 0;
  border-bottom: 1px solid var(--td-component-stroke);
}

.padding-top-noline-16 {
  padding-top: 16px;
}

.padding-top-line-16 {
  padding-top: 16px;
  border-top: 1px solid var(--td-component-stroke);
}

.padding-top-line-8 {
  padding-top: 8px;
  border-top: 1px solid var(--td-component-stroke);
}

.padding-top-line-0 {
  padding-top: 0;
  border-top: 1px solid var(--td-component-stroke);
}

.full-tab {
  .t-tabs {
    height: 100%;
  }

  .t-tabs__content {
    padding-top: 16px;
    height: calc(100% - 24px);
  }

  .t-tab-panel {
    height: 100%;
  }
}

.not-full-tab {
  .t-tabs {
    height: 100%;
  }

  .t-tabs__content {
    padding-top: 16px;
    height: calc(100% - 24px);
    overflow: auto;
  }

  .t-tab-panel {
    height: 100%;
  }
}

.left-tab {
  .t-tabs__content {
    padding-top: 0;
    padding-left: 16px;
    overflow: auto;
  }
}

.no-h-padding-card {
  .t-card__body {
    padding-left: 0;
    padding-right: 0;
  }

  .t-card__header {
    padding: 8px 0;
    margin: 0;
  }
}

.table-title {
  font-weight: bold;
  color: var(--td-gray-color-8);
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

// 2024-01-22 UI点检要求匹配
.t-form__label {
  padding-left: 8px;
  padding-right: 8px;
  color: #454545;
}

.t-form__controls-content {
  width: 270px;
}

.t-popconfirm__body > .t-icon {
  margin-right: 4px;
}

.t-button.t-size-s {
  margin-left: 4px;
}

.t-card__body {
  padding: 12px;
}
