html, body{
  background: var(--td-bg-color-page);
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: var(--td-scrollbar-color);
  }
}


#app {
  flex: 1;
}